
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<ion-header>

    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
        <a  href="#" (click)="logout()" >Logout</a>
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>  
<ion-content padding>
  
  <button style="margin: auto;width: 50%;padding: 10px;" id="button" ion-button class="submit-btn" (click)="Merchants();  "  full type="submit" >Merchants</button>

  <div  style="margin: auto;width: 50%;padding: 10px;">
      <!-- <div id="divvv" style="width:30%; height:30% ;margin-left:35%;">
          <ion-card *ngFor="let merchant of merchants">
              <img src="{{merchant.logo}}" alt="image not found"/>
              <ion-card-content>
                <ion-card-title>
                   Name:  {{merchant.name}}
                  </ion-card-title>
                <p>
                   Description:  {{merchant.description}}
                </p>
                <p>
                    QR_Code:  {{merchant.qr_code}}
                </p>
              </ion-card-content>
              
            </ion-card>
          </div> -->
      <table class="table">
          <tr>
              <th style="display:none;">Name</th>
              <th style="display:none;">Description</th>
              <th style="display:none;">Logo</th>
              <th style="display:none;">QR Code</th>
              
          </tr>
          <tr *ngFor="let merchant of merchants" >
              <td>{{merchant.name}}</td>
              <td>{{merchant.description}}</td>
              <td><img src="{{merchant.logo}}"height=100 width=100  alt="Image not Found"></td>
              <td>{{merchant.qr_code}}</td>
          </tr>
      </table>
     
      
 </div>
  <button  style="margin: auto; width: 50%;padding: 10px;"  id="button"ion-button class="submit-btn" (click)="Products(); "full type="submit" >Products </button>
    
  <div  style="margin: auto; width: 50%; padding: 10px;" id="wrapper" >
      <table class="table">
        <tr>
            <th style="display:none;">Name</th>
            <th style="display:none;">Description</th>
            <th style="display:none;">Logo</th>
            <th style="display:none;">QR Code</th>
            
        </tr>
        <tr *ngFor="let p of products" >
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td><img src="{{p.logo}}"height=100 width=100  alt="Image not Found"></td>
            <td>{{p.category}}</td>
        </tr>
    </table>
            </div>
    
  <button id="button" style="margin: auto;width: 50%;padding: 10px;"  ion-button class="submit-btn" (click)="Promotions();"  full type="submit" >Promotions</button>
     
      <div  style="margin: auto; width: 50%; padding: 10px;" id="wrapper" >
        <table class="table">
          <tr>
              <th id="s" style="display:none;">Name</th>
              <th style="display:none;">Description</th>
              <th style="display:none;">Logo</th>
              <th style="display:none;">QR Code</th>
              
          </tr>
          <tr *ngFor="let p of promotions" >
              <td>{{p.title}}</td>
              <td>{{p.description}}</td>
              <td><img src="{{p.image}}"height=100 width=100  alt="Image not Found"></td>
              <td>{{p.category}}</td>
          </tr>
      </table>
              </div>
  

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script>
   func(){
   document.getElementsByID("s").style.display="block";
   }
   document.getElementById ("button").addEventListener ("click", func,true);
 
 </script>
   
</ion-content>
